<section data-ng-controller="UserController" data-ng-init="findOne()">
	
	<h1>{{user.first_name}} {{user.last_name}} - Edición</h1>

	<hr/>

	<form class="form-horizontal" data-ng-submit="update()">
		
		<div class="control-group">
			<label class="control-label" for="title">Nombres</label>

			<div class="controls">
				<input type="text" data-ng-model="user.first_name" id="title" placeholder="Nombres" required>
				</input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Apellidos</label>

			<div class="controls">
				<input type="text" data-ng-model="user.last_name" id="title" placeholder="Apellidos" required>
				</input>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>